*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
   
}

html{
    font-size: 62.5%;
}

/*
=====================================
            FIRST SECTION
===================================== 
 */

.first-section{
    background-image: url(img/first-section-bg.png);
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20% 0 20% 0;
}

.text-header{
    font-size: 4.2rem;
    text-align: right;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;  
    margin-bottom: 3.2rem;
    padding: 0 4.4rem;
}

.text-content{
    text-align: right;
    font-size: 1.8rem;
    text-transform: uppercase;
   color:#fff;   
  padding: 0 4.4rem;
}


/* 
================================
SECTION-2
================================
*/

.container-2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.4rem;
    padding: 6.2rem 4.8rem;
}

figure img{
    display: block;
    margin-bottom: 3.2rem;
    margin-left: auto;
    margin-right: auto;
}

.text-head{
    display: block;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #1864ab;
}
.text-description{
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: #868e96;
    line-height: 1.8;
    margin-top: 2.4rem;
    font-weight: lighter;
}

/* 
===============================
SECTION-3
===============================
*/

.section-3{
    background-image: url("img/third-section-bg.png");
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding:20% 0 20% 0;
    color: #fff;
}

.sub-description, .sec-3-image{
    padding: 0 2rem;
}


.container-3{
    /* display: grid;
    grid-template-columns: 1fr 1fr;  */
    display: flex;
    justify-content:space-between ; 
    align-items: center;
    width: 100%;
    padding: 0 15% 0 15%;
}

.sub-title{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: lighter;
}

.sub-heading{
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    letter-spacing: 1;
    text-transform: uppercase;
}

.sub-text{
    font-size: 1.4rem;
    line-height: 1.8;
}

/* 
=====================
SECTION-4
=====================
*/

.section-4{
padding: 10% 0 10% 0;
}

.container-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
     padding: 0 20%; 
     justify-content: center;
     align-items: center;
}

.container-4{
 margin-bottom: 0;
} 

.models, .headline{
    padding: 1rem 1.6rem;
}

.models{
    font-size: 1.8rem;
    text-transform: capitalize;
}

.headline{
    font-size: 1.8rem;
    font-weight: 600;
}

 .col-1{
    background-color: #f4f4f4;
}

.col-2{
    background-color: #eaeaea;
}

.col-3{
    background-color: #dedede;
}

.col-4, .send-to-portfolio{
    background-color: #205688;
    padding:6.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section4, span{
    color: #fff;
    font-size: 1.6rem;
    margin-bottom:1rem;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.primary-button a{
    text-decoration: none;
    color: #22304d;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    display: inline-block;
    margin-top: 1rem;
    white-space: nowrap;
    font-size: 1.4rem;
    transition: all 0.3s;
    font-weight: 500;
}

.primary-button a:hover{
    background-color: #22304d;
    color: #fff;
}