*{
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
   
}

html{
    font-size: 62.5%;
}

/*
=====================================
            FIRST SECTION
===================================== 
 */

.first-section{
    background-image: url(img/first-section-bg.png);
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20% 0 20% 0;
}

.text-header{
    font-size: 4.2rem;
    text-align: right;
    margin-bottom: 2.4rem;
    text-transform: uppercase;
    font-weight: 900;
    color: #fff;  
    margin-bottom: 3.2rem;
    padding: 0 4.4rem;
}

.text-content{
    text-align: right;
    font-size: 1.8rem;
    text-transform: uppercase;
   color:#fff;   
  padding: 0 4.4rem;
}


/* 
================================
SECTION-2
================================
*/

.container-2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.4rem;
    padding: 6.2rem 4.8rem;
}

figure img{
    display: block;
    margin-bottom: 3.2rem;
    margin-left: auto;
    margin-right: auto;
}

.text-head{
    display: block;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #1864ab;
}
.text-description{
    display: block;
    text-align: center;
    font-size: 1.4rem;
    color: #868e96;
    line-height: 1.8;
    margin-top: 2.4rem;
    font-weight: lighter;
}

/* 
===============================
SECTION-3
===============================
*/

.section-3{
    background-image: url("img/third-section-bg.png");
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding:20% 0 20% 0;
    color: #fff;
}

.sub-description, .sec-3-image{
    padding: 0 2rem;
}


.container-3{
    /* display: grid;
    grid-template-columns: 1fr 1fr;  */
    display: flex;
    justify-content:space-between ; 
    align-items: center;
    width: 100%;
    padding: 0 15% 0 15%;
}

.sub-title{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: lighter;
}

.sub-heading{
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    letter-spacing: 1;
    text-transform: uppercase;
}

.sub-text{
    font-size: 1.4rem;
    line-height: 1.8;
}

/* 
=====================
SECTION-4
=====================
*/

.section-4{
padding: 10% 0 10% 0;
}

.container-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
     padding: 0 20%; 
     justify-content: center;
     align-items: center;
}

.container-4{
 margin-bottom: 0;
} 

.models, .headline{
    padding: 1rem 1.6rem;
}

.models{
    font-size: 1.8rem;
    text-transform: capitalize;
}

.headline{
    font-size: 1.8rem;
    font-weight: 600;
}

 .col-1{
    background-color: #f4f4f4;
}

.col-2{
    background-color: #eaeaea;
}

.col-3{
    background-color: #dedede;
}

.col-4, .send-to-portfolio{
    background-color: #205688;
    padding:6.5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section4, span{
    color: #fff;
    font-size: 1.6rem;
    margin-bottom:1rem;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.primary-button a{
    text-decoration: none;
    color: #22304d;
    background-color: #fff;
    padding: 1rem 2rem;
    border-radius: 2.5rem;
    display: inline-block;
    margin-top: 1rem;
    white-space: nowrap;
    font-size: 1.4rem;
    transition: all 0.3s;
    font-weight: 500;
}

.primary-button a:hover{
    background-color: #22304d;
    color: #fff;
}


/* ====================================
            SECTION-5
====================================*/

.container-5{
    background-image: url("img/fivth-section-bg.png");
    background-size: cover;
    height: 100vh;
    padding:20% 20%;  
}

.container-5{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 15% 0 15%;
    gap: 2.4rem;
}

.description{
text-align: right;
}

.headline-1{
    font-size: 2.2rem;
}

.p-5{
    font-size: 2.8rem;
    margin-bottom: 2.4rem;
}

.paragraph-1{
    font-size: 1.2rem;
    line-height: 1.6;
}


/*==========================
        SECTION-6
============================ */

.container-6{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4.8rem 4.2rem;
}


.form-section {
    margin-right: 2rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    gap: 1.2rem;
}

.contact-item{
    align-items: center;
    font-weight: 600;
}

input{
    width:45%;
    padding: 1rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    border-radius: 4rem;
    margin-right: 1.2rem;
    color: #7a7a7a;
    transition: all 0.1s;
    outline: none;
    transition: 0.3s;
    padding: 1.5rem;
}

input:focus{
   box-shadow: 0.2rem 0rem 0.6rem rgb(148, 194, 238);
   border: 1px solid #3f97ea;
}


textarea{
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    color: #7a7a7a;
    border-radius: 2rem;
    width: 92%;
    height: 25vh;
    margin-bottom: 2.4rem;
    transition: all 0.2s;
    display: inline-block;
    transition: all 0.3s;
    outline: none;
    padding: 1.5rem;
}

textarea:focus{
    box-shadow: 0.2rem 0rem 0.6rem rgb(148, 194, 238);
    border: 1px solid #3f97ea;
 }

form{
    padding:0 4.4rem ;
}

.send-button {
    background-color: #3b5998;
    color: white;
    border: none;
    padding: 1rem 1.4rem;
    border-radius: 5rem;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
}


.send-button:hover{
    background-color: #000;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    
}
.icon {
    width:3rem;
    height: 3rem;
    margin-right: 1rem;
    color: #1864ab;
    gap: 1.2rem;
    
}
span{
    color:#1864ab;
}


/* ====================================
            SECTION-7
====================================*/

.footer-section{
    background-image: url(img/footer-bg.png);
    background-repeat: no-repeat; 
    background-size: cover;
     width: 100%;
     padding: 5% 5% ;
}

.container-7{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    margin-top: 4.4rem;
}

.footer-icon{
    width: 1.8rem;
    height: 1.8rem;
    color: #1864ab;
    background-color: #fff;
    padding: 1rem;
    border-radius: 50%;
    transition: all 0.3s;
}

.footer-icon:hover{
    background: #22304d;
}

.copy-text{
    margin-top: 1.2rem;
    text-align: center;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 200;
}